<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edulock">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_splash"
        android:roundIcon="@drawable/indicator_inactive_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edulock">

        <activity
            android:name=".combine.Unlock"
            android:exported="false" />
        <activity
            android:name=".combine.EditData"
            android:exported="false" />
        <activity
            android:name=".combine.Soal"
            android:exported="false" />
        <activity
            android:name=".combine.ChooseUser"
            android:exported="false" />
        <activity
            android:name=".lockapp.LockApp"
            android:exported="false" />
        <activity
            android:name=".firebaseauth.Login"
            android:exported="false" />
        <activity
            android:name=".firebaseauth.RegisterKid"
            android:exported="false" />
        <activity
            android:name=".firebaseauth.Register"
            android:exported="false" />
        <activity
            android:name=".onboarding.MainActivity"
            android:exported="true" />
        <activity
            android:name=".onboarding.splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>